<!DOCTYPE html> 

<html ng-app="evenOddApp"> 

  <head> 

    <meta charset="UTF-8"> 

    <title>Even or Odd Checker</title> 

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> 

    <script> 

      angular.module('evenOddApp', []) 

        .controller('EvenOddController', function($scope) { 

          $scope.number = 0; 

        }); 

    </script> 

  </head> 

  <body ng-controller="EvenOddController"> 

    <h2>Even or Odd Checker</h2> 

    <label>Enter a number:</label> 

    <input type="number" ng-model="number" /> 

    <p ng-if="number % 2 === 0">The number {{ number }} is Even.</p> 

    <p ng-if="number % 2 !== 0">The number {{ number }} is Odd.</p> 

  </body> 

</html> 

 

 

 