<html>
    <script src =" https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("m",[]);
        app.controller("my",function ($scope){
            $scope.likes = 0;
            $scope.dislikes = 0;
            $scope.like = function(){
                $scope.likes++;
            };
            $scope.dislike = function(){
                $scope.dislikes++;
            };
        });
    </script>
    <body ng-app="m" ng-controller="my">
        <h2> Like Dislike Counter </h2>
        <button ng-click="like()"> Like </button>
        <button ng-click="dislike()"> Dislike </button>
        <p> Likes: {{likes}} </p>
        <p> Dislikes: {{dislikes}} </p>
</html>