<html>
    <script src =" https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>

var app = angular.module("m",[]);
app.controller("my",function ($scope){
   
    $scope.s1 =0;
    $scope.s2 =0;
    $scope.s3 =0;
});
</script>
<body ng-app = "m" ng-controller = "my">
    <h2> Marks CALCULATOR</h2>
    Enter marks for subject 1 : <input type="number" ng-model="s1" min="0" max="100"><br><br>
    Enter marks for subject 2 : <input type="number" ng-model="s2" min="0" max="100"><br><br>
    Enter marks for subject 3 : <input type="number" ng-model="s3" min="0" max="100"><br><br>
    <h3> Total Marks: {{s1 + s2 + s3}} </h3>
    <h3> Average Marks: {{(s1 + s2 + s3)/3}} </h3>
</body>
</html>