<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.count = 0;
        $scope.btncount = 0;
        $scope.dblcount = 0;
        $scope.getDateTime = function () {
        $scope.currentDate = new Date();
        }

        $scope.showMe = false;
          $scope.myFunc = function() {
          $scope.showMe = !$scope.showMe;
        }   
    });
    </script> 
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<table width="30%" cellpadding="10" border="1">
<tr>
<td><b><span ng-mousemove="count = count + 1">Mouse Over Me!</span></b></td>
<td>mouseover count : {{ count }}</td>
</tr>
<tr>
<td><button ng-click="btncount = btncount + 1">Click Me for single count</button></td>
<td>count on button click : {{ btncount }}</tr>
</tr>
<tr>
<td><button ng-dblclick="dblcount=dblcount+1">Click Me for double count</button></td>
<td>count on double button click : {{ dblcount }}</td>
</tr>
<tr>
<td><b><span ng-mousemove="getDateTime($event)">Mouse Over Me!</span></b></td>
<td>Date and Time: {{ currentDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
</tr>
<tr>
<td><button ng-click="myFunc()">Click Me!</button></td>
<td><span ng-show="showMe">  Hello  </span></td>
</tr>
<tr>
  <td><input type = "checkbox" ng-model = "enableDisableButton">Disable Button</td>
  <td><button ng-disabled = "enableDisableButton">Click Me!</button></td>
</tr>
<tr>
  <td><input type = "checkbox" ng-model = "showHide1">Show Button</td>
  <td><button ng-show = "showHide1">Click Me!</button></td>
</tr>
<tr>
  <td><input type = "checkbox" ng-model = "showHide2">Hide Button</td>
  <td><button ng-hide = "showHide2">Click Me!</button></td>
</tr>
</table>
</div>
</body>
</html>