<html>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        table,th,td{
            border :1 px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(even){
            background-color: #eee;
        }
        table tr:nth-child(odd){
            background-color: #fff;
        }
    </style>
    <body>
        <div ng-app="m" ng-controller="my">
            <form name="student" novalidate method="post">
                <table border="0">
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input type="text" name="name" ng-model="name" required />
                            <span style="color:red" ng-show="student.name.$dirty && student.name.$invalid">
                                <span ng-show="student.name.$error.required">Name is required.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input type="email" name="email" ng-model="email" required />
                            <span style="color:red" ng-show="student.email.$dirty && student.email.$invalid">
                                <span ng-show="student.email.$error.required">Email is required.</span>
                                <span ng-show="student.email.$error.email">Invalid email address.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>
                            <input type="text" name="phone" ng-model="phone" required ng-pattern="/^\d{10}$/" />
                            <span style="color:red" ng-show="student.phone.$dirty && student.phone.$invalid">
                                <span ng-show="student.phone.$error.required">Phone is required.</span>
                                <span ng-show="student.phone.$error.pattern">Invalid phone number.</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" ng-disabled="student.name.$invalid || student.email.$invalid || student.phone.$invalid" ng-click="submit()">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            <p style="font-size: 32px; color: green">
                <b>
                    {{msg}}
                </b>
            </p>
            <p>
                <b>
                    {{msg2}}
                </b>
            </p>
            <p ng-repeat="x in details">
                {{x}}
            </p>
        </div>
        <script>
            var app = angular.module("m", []);
            app.controller("my", function($scope) {
                $scope.details = [];
                $scope.reset = function() {
                    $scope.name = "John Doe";
                    $scope.email = "John.Doe@abc.com";
                    $scope.phone = "1234567890";
                };

                $scope.submit = function() {
                    $scope.msg = 'Form Validated Successfully!';
                    $scope.msg2 = 'The details filled in the form are as below:';
                    $scope.details = [];
                    $scope.details.push($scope.name);
                    $scope.details.push($scope.email);
                    $scope.details.push($scope.phone);
                };

                $scope.reset();
            });
        </script>
    </body>
    </html>
