<html>
    <script src =" https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("m",[]);
        app.controller("my",function ($scope){
            $scope.count =0;
            
            $scope.togglepara= false;
            $scope.hober =false;

            $scope.increment = function(){
                $scope.count++;
            }
            $scope.showpara = function(){
                $scope.togglepara = !$scope.togglepara;
            }
            
        });
    </script>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: green;

        }
        .hovered{
            background-color: red;
        }
    </style>
    <body ng-app="m" ng-controller="my">
        <button ng-click="increment()">Click me</button>
        <p>Count: {{count}}</p>
        <button ng-click="showpara()">Toggle Paragraph</button>
        <p ng-show="togglepara">This is a toggled paragraph.</p>

        <div class ="box" ng-mouseenter="hober=true" ng-mouseleave="hober=false" ng-class="{'hovered': hober}"></div>
    </body>
</html>