<html>
    <script src =" https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    var app = angular.module("m",[]);
    app.controller("my",function ($scope){
        $scope.list = [
            {
                name:"john",
                age:"20",
                department:"cse",
                salary: "20000"
            },
            {
                name:"michael",
                age:"22",
                department:"ece",
                salary: "25000"
            },
            {
                name:"susan",
                age:"21",
                department:"mech",
                salary: "22000"
            }
        ]
    });
</script>
<style>
    .highlight{
        background-color: yellow;
    }
</style>
<body ng-app="m" ng-controller="my">
    <table border ="1px">
        <label> Search :
            <input type:"text" ng-model="search">

        </label>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
        <tr ng-repeat="x in list | filter: search" ng-class="{ 'highlight':x.salary > 2000}">
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
            <td>{{x.department}}</td>
            <td>{{x.salary}}</td>
            </tr>
    </table>
</body>
    </html>